[Unit]
After=network.target

[Service]
User=paul
ExecStart=/home/paul/gitprojects/ogs-gnugo-bot/gnugo-nixbot
Type=exec
Restart=always


[Install]
WantedBy=default.target
